<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pro01.myblog.mapper.ArticleMapper">

    <select id="findHotArticlesByIds" resultType="com.pro01.myblog.dto.ArticleHotDTO">
        SELECT a.id, a.title, a.cover_url AS coverUrl,
        u.nickname, u.avatar,
        a.view_count AS viewCount,
        (SELECT COUNT(*) FROM article_likes l WHERE l.article_id = a.id) AS likeCount
        FROM articles a
        JOIN users u ON a.user_id = u.id
        WHERE a.status = 'PUBLISHED'
        AND a.id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
         #{id}
        </foreach>
    </select>
    <!-- 热榜预热用 -->
    <select id="selectTop100ByViewAndLike" resultType="com.pro01.myblog.pojo.Article">
        SELECT id, view_count,
               (SELECT COUNT(*) FROM article_likes WHERE article_id = a.id) AS likeCount
        FROM articles a
        WHERE status = 'PUBLISHED'
        ORDER BY view_count DESC
        LIMIT 100
    </select>
</mapper>