<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pro01.myblog.mapper.ArticleMapper">
    <select id="findHotArticlesByIds" resultType="com.pro01.myblog.dto.ArticleHotDTO">
        SELECT a.id, a.title, a.summary, a.cover_url, u.nickname, u.avatar,
        a.view_count, a.like_count, a.comment_count
        FROM articles a
        JOIN users u ON a.user_id = u.id
        WHERE a.id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="updateViewCount">
        UPDATE articles
        SET view_count = #{viewCount}, update_time = NOW()
        WHERE id = #{id}
    </update>

    <update id="updateViewCountBatchCase" parameterType="java.util.List">
        UPDATE articles
        SET
        view_count = CASE id
        <foreach collection="list" item="it">
            WHEN #{it.id} THEN #{it.viewCount}
        </foreach>
        END,
        update_time = NOW()
        WHERE id IN
        <foreach collection="list" item="it" open="(" separator="," close=")">
            #{it.id}
        </foreach>
    </update>
</mapper>
